
PORT=3000
DATABASE_URL=postgresql://your_db_user:your_db_password@db:5432/your_db_name
FLIGHT_SERVICE_URL=http://flight_service:3000
HOTEL_SERVICE_URL=http://hotel_service:3000
CAR_SERVICE_URL=http://car_service:3000
PAYMENT_SERVICE_URL=http://payment_service:3000

